phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=http://nexus3.hzhengji.cn/repository/npm-group/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
always-auth=true
_auth=Z2V0bnBtOmdldG5wbQ==